body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin:0;
    background-color:#000000;
    color:#FFFFFF;  
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.nav{
    display:flex;
    justify-content: space-between;
    height: 83px;
    
    text-align:center;
    color:#FFFFFF;
}

.container{
    height:80%;
    margin-top:50px;
}
.container-text{
    margin-left:10%;
    margin-right:10%;
    max-height:80%;
}
.panel-left{
    margin-right:10px;
}
.panel-right, .panel-left{
    width:50%;
    background:#153a45;
}

.panel-left > h1, .panel-right > h1{
    margin-top:27px;
}

h1 {
    font-size:20px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#playlist-section, #track-section{
    text-align:center;   
}

.form-field{
    margin-top:15px;
}
.form-field > span{
    width: 106px;
}

button{
    width:100px;
    height: 24px;
    background-color:#153a45;
    border:none;
    color:#FFFFFF;
    cursor:pointer;
}

iframe{
    margin-top:20px;
    margin-right: 20px;
}

ul{
    list-style-type: none;
    margin-left: -36px;
}
.soundcloud-box{
    display: flex;
    flex-direction:column;
    text-align:center;
    max-width:400px;
    height:70px;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.soundcloud-box:hover{
    opacity: 0.5;
}
.soundcloud-box a{
    width:100px;
    background-color:#153a45;
    color:#FFFFFF;
    font-size:13.3333px;
    cursor:pointer;
    margin:auto;
}
iframe{
    margin-bottom:20px;
}
#loader{
    display:flex;
    margin:auto;
    align-items:center;
    background:url(loader.svg) no-repeat center center;width:60px;height:60px;
}